* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-right: 1rem;
}

.nav-container {
    background-color: #152234;
    // background-color: yellow;
    color: white;
    height: 8vh;
    border-bottom: grey .5px solid;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.logo-container {
    max-width: 25%;
    height: 100%;
    position: relative;
    right: 12%;
    display: inline-flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: 80px;
    margin-right: 15px;
}

.nav-links {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1050px;
    list-style: none;
    left: 10%;
    position: relative;

    .linkTags {
        text-decoration: none;
        color: #fff;
    }
    .linkTags:hover {
        cursor: pointer;
        color: gold;
    }

    .searchbar {
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: white;
        border-radius: 5px;
        border: white solid 1px;
        font-size: 19px;
        font-weight: bold;
        padding: 3px 0 3px;
    }
}